
.h1{
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
}
.p1 {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}
.p1:hover{
  color:red;
  background-color: #eee;
}

.link{
  font-size: medium;
  text-decoration: none;
}
