.main {
  position: absolute;
  display: flex;
  border-top: solid #888 2px;
  bottom: 0;
  right: 0;
  width: 100%;
  height: var(--footer-height);
}

.item {
  display: flex;
  width: 25%;
  height: var(--footer-height);
  justify-content: center;
	margin-top: 5px;
  /* align-items: center; */
  font-size: var(--font-size);
}

.current {
  composes: item;
  color: #4e85b9;
  font-weight: 700;
}

.selected { 
  background-color: var(--selected-color);
}
